@model IEnumerable<WebApplication4.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>רשימת הלקוחות</h2>

<p>
    <a asp-action="Create">צור לקוח חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">עריכה</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">פרטים</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerId">מחיקה</a>
            </td>
        </tr>
}
    </tbody>
</table>
