@model ShirlyStudio.Models.CustomerRegistration

@{
    ViewData["Title"] = "Confirmation";
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>הרשמה לסדנה</h2>

<h3>האם ברצונך להרשם לסדנה הבאה? </h3>
<div>
    <hr />
    <dl>
        <di>
            <dt>שם הסדנה</dt>
            <dd>@ViewBag.WorkshopName</dd>
        </di>
        <di>
            <dt>שם הלקוח</dt>
            <dd> @ViewBag.CustomerName</dd>
        </di>
        <di>
            <dt>קטגוריה</dt>
            <dd> @ViewBag.Category</dd>
        </di>
        <di>
            <dt>שם המורה</dt>
            <dd> @ViewBag.Teacher</dd>
        </di>
        <di>
            <dt>תאריך ושעה</dt>
            <dd> @ViewBag.Time</dd>
        </di>
        <di>
            <dt>מחיר</dt>
            <dd> @ViewBag.Price</dd>
        </di>
    </dl>


    <form asp-action="Confirmation">
        <input type="hidden" value="@ViewBag.WorkshopId" name="WorkshopId" />
        <input type="hidden" value="@ViewBag.CustomerId" name="CustomerId" />
        <input type="submit" value="הרשם" class="btn btn-info" /> |
        <a asp-action="MyIndex">חזרה לרישומים שלי</a>
    </form>
</div>

</br></br>
<table class="table">
    <thead>
        <tr>
            <th>
                Workshop Name
            </th>
            <th>
                Workshop Price
            </th>
            <th>
                Workshop Category
            </th>
            <th>
                Workshop Link
            </th>
        </tr>
    </thead>
    <tbody id="myTB"></tbody>
</table>


@section Scripts {
    <script>
        function getRelatedWorkshops() {
            var urlParams = getJsonFromUrl();
            //console.log('../../../Workshops/Related/' + urlParams.WorkshopId)
            $.ajax({
                url: '../../Workshops/Related/' + urlParams.WorkshopId,
                type: 'GET',
                dataType: 'json',
                success: function (list) {
                    console.log(urlParams)
                    for (i in list) {
                        var html = "<tr><td>" + list[i].name + "</td><td>" + list[i].price + "</td><td>" + list[i].category.categoryName + "</td><td><button type='button' class='btn btn-info' onclick='goto(" + list[i].id + ")'>לרישום</button></td></tr>"
                        $("#myTB").append(html);
                    }

                }
            })
        }
        function goto(id) {
            var urlParams = getJsonFromUrl();
            //console.log(location.origin + location.pathname + "?WorkshopId=" + id + "&customermail=" + urlParams.customermail);
            var url = location.origin + location.pathname + "?WorkshopId=" + id + "&customermail=" + urlParams.customermail;
            window.location.replace(url);
        }
       
        function getJsonFromUrl() {
            var query = location.search.substr(1);
            console.log(query)
            var result = {};
            query.split("&").forEach(function (part) {
                var item = part.split("=");
                result[item[0]] = decodeURIComponent(item[1]);
            });
            return result;
        }
        getRelatedWorkshops();
    </script>
}