@model ShirlyStudio.Models.CustomerRegistration

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CustomerRegistration</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Workshop)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Workshop.WorkshopName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerRegistrationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
