@model IEnumerable<ShirlyStudio.Models.CustomerRegistration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout-page.cshtml";
}

<h2>רישומי לקוחות</h2>

<p>
    <a asp-action="Create">רישום חדש</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.WorkshopName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.CustomerRegistrationId">פרטי רישום</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerRegistrationId">מחיקה</a>
                </td>
            </tr>
        }
    </tbody>
</table>
