@model IEnumerable<ShirlyStudio.Models.CustomerRegistration>

@{
    ViewData["Title"] = "MyIndex";
    Layout = "~/Views/Shared/OnlyHomePageLayout.cshtml";
}

<h2>הרישומים שלי</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workshop.WorkshopName)
            </td>
            <td>
                <a asp-action="MyDetails" asp-route-id="@item.CustomerRegistrationId">פרטי הרישום לסדנה</a> 
            </td>
        </tr>
}
    </tbody>
</table>
