@model IEnumerable<ShirlyStudio.Models.CustomerRegistration>

@{
    ViewData["Title"] = "MyIndex";
    Layout = "~/Views/Shared/OnlyHomePageLayout.cshtml";
}


<h2>הרישומים שלי</h2>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>
                שם הלקוח
            </th>
            <th>
                שם הסדנה
            </th>
            <th>
                קטגוריה
            </th>
            <th>
                שם המורה
            </th>
            <th>
                תאריך ושעה
            </th>
            <th>
                משך הסדנה בשעות
            </th>
            <th>
                מחיר
            </th>
            <th>
                פעולות
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.WorkshopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.Teacher.TeacherName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.FullData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workshop.Price)
                </td>
                <td>
                    <a asp-action="MyDetails" asp-route-id="@item.CustomerRegistrationId">פרטי הרישום לסדנה</a>
                </td>
            </tr>
        }
    </tbody>
</table>

