@model IEnumerable<ShirlyStudio.Models.CustomerRegistration>

@{
    ViewData["Title"] = "MyIndex";
}

<h2>הרישומים שלי</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Workshop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Workshop.WorkshopName)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CustomerRegistrationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CustomerRegistrationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
